@media (max-width: 1120px) {
  .cabecalho .logo {
    max-width: 190px;
  }

  .selecao-de-operadores {
    flex-direction: column-reverse;
    max-width: 430px;
    margin: 0 auto;
  }

  .selecao-de-operadores .operadores {
    margin-top: 37px;
  }

  .selecao-de-operadores .operadores .titulo {
    font-size: 15px;
  }

  .selecao-de-operadores .lista-de-operadores {
    gap: 9px;
  }

  .operador-selecionado .operadores .operador img {
    width: 80px;
  }

  .operador-selecionado .operador-grande {
    width: 350px;
    height: 350px;
  }

  .operador-selecionado .descricao-operador {
    width: 80%;
    font-size: 16px;
    margin: 20px auto;
  }
}